<div class="container">
    <div class="image-container">
      <img src="../../../assets/images/presentation-computer.png" alt="">
      <div class="icon-container">
        <a href="#"><img src="../../../assets/icons/tweeter.png" alt=""></a>
        <a href="#"><img src="../../../assets/icons/instagram.png" alt=""></a>
        <a href="#"><img src="../../../assets/icons/facebook.png" alt=""></a>
        <a href="#"><img src="../../../assets/icons/linkedin.png" alt=""></a>
        <a href="#"><img src="../../../assets/icons/youtube.png" alt=""></a>
    </div>
    </div>
    <div class="text-container">
      <h1>Ignacio Permuchi</h1>
      <h2 style="padding: 20px;">Aspirante a Desarrollador Full Stack, me apasiona y la inteligencia artificial.</h2>
    </div>
    
</div>