<div class="mmm">

    <div class="parent">
        <div class="child child1">
          <h2 id="section1">Acerca de mi</h2>
          <p>Como Programador, me he dedicado a estudiar utilizando varios lenguajes y frameworks de programación distintos. Tengo conocimientos de herramientas de desarrollo web
            como HTML, CSS, Y JavaScript, TypeScript, jQuery, Bootstrap, Angular, React. Me especializo en los frameworks como Spring framework y .Net, y junto a ellos los acompaño 
            con MySQL y MS SQL Server.Si busca a alguien con ánimo de aprender y cooperar, aquí estoy para asistir.
            Muchas gracias por ver mi Portfolio!</p>          
            <li class="estudios">
                <ul>2019 - 2020 Realice el Curso de Secretariado Ejecutivo en la Universidad Nacional de La Matanza</ul>
                <ul>2019 - 2022 Estudie la carrera de Analista Programador Universitario en la Universidad Nacional de Jose C. Paz</ul>
                <ul>2022 - 2023 Participe del Programa de Estudio "Argentina Programa"</ul>
                <ul>Extenso conocimiento del idioma Inglés</ul>
            </li>
        </div>
        <div class="image-container">
          <img src="../assets/images/yo.jpg" alt="Image">
        </div>
      </div>
   

</div>
