@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

*{
    color: rgb(37, 37, 37);
    font-family: 'Raleway', sans-serif;
}
.container-form{
    max-width: 850px;
    height: 75vh;
    background-color: rgb(221, 239, 255);
    margin-top: 15vh;
    padding: 40px 50px;
    color: rgb(22, 22, 22); 
    border-radius: 2em;
}

@media screen and (max-width: 720px){
   
    .container-form{
        width: 70vh;
    }
}

form{
justify-content: center;
}

.form-input{
    margin-top: 70px;
}

.btn-container button{
    color: rgb(221, 239, 255);
}

.load{
    max-width: 70px;
    max-height: 70px;
}