<app-navbar></app-navbar>
<app-info-display id="section1"></app-info-display>
<hr class="separation-bar" id="section2">
<app-acerca-de-mi></app-acerca-de-mi>
<hr class="separation-bar" id="section3">
<app-projects style="margin: 60px;"></app-projects>
<hr class="separation-bar" id="section4">
<app-contact></app-contact>
<div class="dark-bar">
    <div class="labels-container">
      <div class="label">Proyecto: Portfolio Web para el curso YoProgramo 4.ª Edición </div>
      <div class="label"></div>
      <div class="label">Ignacio Agustin Permuchi</div>
    </div>
</div>
